.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(119, 119, 119);
  font-family: monospace;
}

.app-border {
  height: 550px;
  width: 400px;
  border: solid black 3px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 252);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 160, 160);
  border: solid 3px rgb(255, 30, 30);
  padding: 10px;
  height: 40px;
  width: 90%;
  border-radius: 20px;
}

.selector-field {
  display: flex;
  justify-content: space-around;
  height: auto;
  width: 85%;
  font-family: monospace;
}

.star-field {
  display: flex;
  background-color: rgb(241, 241, 255);
  width: 85%;
  display: flex;
  justify-content: space-around;
  font-size: 5em;
  height: 20%;
  align-items: center;
  padding: 20px;
  border-radius: 75px;
  border: 3px solid rgb(188, 188, 255);
}

.glow {
  --star-color: rgb(255, 208, 0);
}

.glow-off {
  --star-color: rgb(0, 0, 0);
}

.button {
  font-family: monospace;
  padding: 15px;
  background-color: rgb(187, 187, 187);
}

.star-rating {
  font-size: 5em;
}

.five-pointed-star {
  margin: 1em auto;
  font-size: 30px;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
}
.five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.five-pointed-star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}
