.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-border {
  height: 55vh;
  width: 30vw;
  border: solid red 1px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding: 10px;
  height: 40px;
  border-bottom: 100px;
}

.selector-field {
  display: flex;
  border: solid 1px green;
  justify-content: space-between;
  height: auto;
}

.star-field {
  display: flex;
  justify-content: center;
}
