.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
    background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);
}

.app-border {
  height: 550px;
  width: 400px;
  border: solid rgb(117, 117, 117) 1px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.693);
  box-shadow: 3px 2px 6px 2px rgb(54, 54, 54);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 160, 209);
  border: solid 3px rgb(243, 67, 158);
  padding: 10px;
  height: auto;
  width: 90%;
  border-radius: 20px;
}

.selector-field {
  display: flex;
  justify-content: space-around;
  height: auto;
  width: 85%;
  font-family: monospace;
}

.star-field {
  display: flex;
  background-color: rgb(255, 255, 244);
  width: 85%;
  display: flex;
  justify-content: space-around;
  font-size: 5em;
  height: 12%;
  align-items: center;
  padding: 20px;
  border-radius: 75px;
  border: 2px solid rgb(255, 250, 102);
  box-shadow: 2px 2px 2px 2px rgba(54, 54, 54, 0.384);

}

.glow {
  --star-color: rgb(255, 208, 0);
}

.glow-off {
  --star-color: rgb(0, 0, 0);
}

.button {
  font-family: monospace;
  padding: 15px;
  background-color: rgb(187, 187, 187);
}

.star-rating {
  font-size: 5em;
}

.five-pointed-star {
  margin: 1em auto;
  font-size: 30px;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
}
.five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.five-pointed-star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.navbar-logo {
    height: 200px;
    /* border: solid 1px white; */
}
.navbar-menu {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

p {
    margin: 0;
}